.container {
    display: flex;
    max-width: 1440px;
    width: 95vw;
    height: 90vh;
    justify-content: center;
    border: 1px solid black;
}
.left-side {
    flex: 30%;
    border: 1px solid black;
}
.right-side {
    display: flex;
    flex: 70%;
    border: 1px solid black;
    flex-direction: column;
    justify-content: space-between;
}
.profile {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.profile-photo {
    margin: 5px;
    border-radius: 50%;
    width: 49px;
    height: 49px;
    border: 1px solid black;
}
.profile-menu {
    display: flex;
    border: 1px solid red;
}
.group-description {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
    padding-right: 15px;
    border: 1px solid black;
}
.group-title {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}
.group-check {
    display: inline-block;
    padding: 2px;
}
.group-last-message {
    border: 1px solid black;
}
.new-message {
    border: 1px solid black;
}
.search {
    border: 1px solid black;
}
.groups {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    overflow-y: initial;
    overflow: auto;
}
.group-container {
    display: flex;
}
.right-side {
    border: 1px solid black;
}
.message-section {
    height: 80vh;
    overflow: auto;
    overflow-y: initial;
    /* height: 600px; scroll scroloğlunu ayarla */
    /* border: 1px solid black; */
}
.message {
    white-space: pre-wrap;
    /* border: 1px solid black; */
}
.message-content {
    width: 80%;
    border-radius: 6px;
    word-wrap: break-word;
}
.sender {
    background-color: bisque;

    text-align: right;
    margin-right: 0;
    margin-left: auto;
}
.receiver {
    background-color: aquamarine;
}
.message-bottom {
    display: flex;
    justify-content: space-between;
    /* flex-grow: 1; */
    border: 1px solid black;
}
.message-text {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}
.message-send-button {
    width: 10%;
    border: 1px solid black;
}

.message-input {
    width: calc(100% - 10px);
}

.title-container {
    display: flex;
}
