.container {
    display: flex;
    max-width: 1440px;
    width: 95vw;
    height: 90vh;
    justify-content: center;
    background-color: var(--layout-color);
    border-radius: 3px;
    /* box-shadow: 0 17px 50px 0 rgba(11, 20, 26, 0.19), 0 12px 15px 0 rgba(11, 20, 26, 0.24); */
    box-shadow: rgba(0, 0, 0, 0.249) 0px 2px 8px 0px;
}
.left-side {
    flex: 30%;
    background-color: #111b21;
}
.right-side {
    display: flex;
    flex: 70%;

    flex-direction: column;
    justify-content: space-between;
}
.profile {
    display: flex;
    justify-content: space-between;
    background-color: var(--panel-header-background);
}
.profile-photo {
    background-size: cover;
    background-image: url("../assets/default-user.svg");
    margin: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}
.profile-photo-group {
    background-image: url("../assets/default-group.svg");
}
.profile-menu {
    list-style: none;
    display: flex;
}
.group-date {
    font-size: small;
}
.group-users {
    text-align: left;
    font-size: 13px;
    color: var(--secondary);
}
.group-description {
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
    padding-right: 15px;
}
.group-title {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}
.group-check {
    display: inline-block;
    padding: 2px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    margin: auto;
    display: inline-block;
    /* text-align: center; */
    background-image: url("../assets/check-img.svg");
}
.group-last-message {
    text-align: left;
    color: var(--secondary);
    font-size: 14px;
}
.new-message {
}
.search {
}
.groups {
    display: flex;
    flex-direction: column;
    overflow-y: initial;
    overflow: auto;
}
.group-container {
    display: flex;
    background-color: var(--theme-bg-color);
}
.right-side {
    max-width: 70%;
}
.group-container:hover {
    background-color: var(--hover-background);
}
.group-container:focus {
    background-color: var(--hover-background);
}
.group-bg {
    background-color: var(--hover-background);
}
.link-element {
    color: white;
    text-decoration: none;
    padding: 5px;
}
.input-button-style {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.group-btn {
    border-bottom: 1px solid rgba(134, 150, 160, 0.15);
}

.message-section {
    overflow: auto;
    height: 80vh;
    /* background-size: 60px; */
    /* background-repeat: repeat-x; */
    /* background-color: #111b21;
    background-image: url("../assets/background-message.svg"); */
    /* overflow-y: initial; */
    /* object-fit: cover; */

    /* height: 600px; scroll scroloğlunu ayarla */
    /*  */

    --s: 60px; /* control the size */
    --c1: #424345;
    --c2: #0a0e11;
    --c3: #172026;

    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g1: var(--_s) conic-gradient(at calc(500% / 6) 50%, var(--c3) 25%, #0000 0);
    --_g2: var(--_s) conic-gradient(at calc(200% / 3) 50%, var(--c2) 25%, #0000 0);
    background: var(--s) var(--s) / var(--_g1), 0 0 / var(--_g1), var(--s) var(--s) / var(--_g2), 0 0 / var(--_g2),
        repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0 / var(--_s),
        linear-gradient(var(--c1) calc(100% / 3), var(--c2) 0 calc(200% / 3), var(--c3) 0) 0 0 / var(--s) var(--s);
}
.message-section::-webkit-scrollbar {
    background-color: transparent;

    width: 6px;
    height: 6px;

    /* border: none; */
}

.message-sender-name {
    margin: 0;
    padding: 5px;
    color: antiquewhite;
}

.message-receiver-name {
    margin: 0;
    padding: 5px;
    color: aqua;
}

.message-section::-webkit-scrollbar-thumb {
    background-color: rgba(59, 74, 84, 0.7);
}
.message-section::-webkit-scrollbar-track-piece {
    background-color: transparent;
}
.message {
    white-space: pre-wrap;
    /*  */
}
.message-content {
    width: 80%;
    border-radius: 6px;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: white;
    min-height: 2.25rem;
    width: fit-content;
    max-width: 66%;
    box-shadow: 0 0 2rem rgba(black, 0.075), 0rem 1rem 1rem -1rem rgba(black, 0.1);
}
.sender {
    background-color: var(--theme-sender-bg-color);
    border-radius: 1.125rem 1.125rem 0 1.125rem;

    text-align: right;
    color: white;
    margin-right: 0;
    margin-left: auto;
}
.receiver {
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    color: white;
    background-color: var(--theme-receiver-bg-color);
}
.message-bottom {
    display: flex;
    justify-content: space-between;
    /* flex-grow: 1; */
}
.message-text {
    width: 90%;
    padding: 5px;
    border-radius: 5px;
}
.message-send-button {
    margin: auto;
    background-repeat: no-repeat;
    background-image: url("../assets/send-message.svg");
    width: 25px;
    height: 25px;
}

.message-input {
    color: var(--theme-text-color);
    width: calc(100% - 20px);
    padding: 9px 12px;
    margin: 5px 10px;
    background-color: var(--message-input-background);
    border: 1px solid #2a3942;
    border-radius: 8px;
}

.title-container {
    display: flex;
}
