@import url("./styles/normalize.css");

:root {
    --theme-element-color: hsl(0deg, 0%, 100%);
    --theme-bg-color: #111b21;
    --theme-sender-bg-color: #176b5b; /* dark mode */
    --theme-receiver-bg-color: #343f46;
    --panel-header-background: #202c33;
    --hover-background: #202c33;
    --theme-text-color: hsl(0deg, 0%, 100%);
    --layout-color: #222e35;
    --secondary: #8696a0;
    --primary: #ff;
    --message-input-background: #2a3942;
    --theme-input-color: hsl(0deg, 0%, 52%);
}

.dark-mode {
}

body {
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
    font-family: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
}
/* 
.wrapper {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    width: 100svw;
    height: 100svh;
    justify-content: center; 
} */

.wrapper {
    display: grid;
    grid-template-rows: auto 1fr; /* Menü için otomatik yükseklik, geri kalan içeriklere eşit dağılım */
    grid-template-columns: 1fr; /* Sütunları tek bir sütun olacak şekilde ayarlıyoruz */
    height: 100svh; /* Ekran yüksekliği kadar olan bir container olacak */
    width: 100svw;
    /* İçerikleri düzenleme */
    gap: 10px; /* İçerikler arasındaki boşluk */
}

.menu-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav > a {
    padding: 5px;

    & a:focus-within {
        color: red;
    }
}
