@import url("./normalize.css");

:root {
    --theme-element-color: hsl(0deg, 0%, 100%);
    --theme-bg-color: #111b21;
    --theme-sender-bg-color: #176b5b; /* dark mode */
    --theme-receiver-bg-color: #343f46;
    --panel-header-background: #202c33;
    --hover-background: #202c33;
    --theme-text-color: hsl(0deg, 0%, 100%);
    --layout-color: #222e35;
    --secondary: #8696a0;
    --primary: #ff;
    --message-input-background: #2a3942;
    --theme-input-color: hsl(0deg, 0%, 52%);
}

.dark-mode {
}

body {
    background-color: var(--theme-bg-color);
    color: var(--theme-text-color);
}

.wrapper {
    display: flex;
    /* width: 100vw; */
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}
